.popup-list {
  width: 10rem;
  position: absolute;
  /* top: 7.6%; */
  top: 100%;
  right: 1%;
  z-index: 2;
}
.cursor-pointer {
  cursor: pointer;
}
.img-size {
  width: 12rem;
}
.logo {
  font-weight: bold;
  font-family: cursive;
  font-size: 1.2rem;
}
.link-style {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
.link-style:hover {
  color: black;
}
.customize-header {
  height: 3.2rem;
  position: fixed;
  z-index: 2;
  background: white;
}
.profile-link-style {
  text-decoration: none;
  color: black;
}
.profile-link-style:hover {
  color: white;
}
